.bookCard {
    box-shadow: 0px 15px 15px lightgray;
    border-radius: 20px!important;
    margin: auto;
}

.bookCard img {
    border-radius: 20px!important;
    height: 400px;
    width: auto;
}

.customButton{
    margin-top: 2rem;
}